body{
    margin: 0;
}

header{
    background: midnightblue;
    padding: 10px 20px;
}

header h2{
    font-size: 3em;
    margin: 20px 0;
}

header h2 a{
    color: white;
    text-decoration: none;
}

main{
    padding-left: 20px;
}