<!-- tablero.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Tablero del Buscaminas</title>
</head>
<body>
    <h2>
        <a href="{% url 'index' %}">Principal</a>
    </h2>
    <h1>Tablero del Buscaminas</h1>
    <table>
        {% for fila in tablero %}
            <tr>
                {% for celda in fila %}
                    <td style="width: 10px; height: 10px; border: black solid 1px">{{ celda }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
